.mainSection {
    padding: 1rem;
    position: relative;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.firstRowTab {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    width: 15.5%;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333;
    transition: all 0.3s ease;
    border: 1px solid #eee;
}

.widgetIcon {
    width: 35px;
    height: 35px;
    margin-bottom: 12px;
    object-fit: contain;
}

.widgetTitle {
    font-size: 0.85rem;
    font-weight: 600;
    color: #666;
    margin-bottom: 5px;
    text-align: center;
}

.widgetNumber {
    font-size: 1.25rem;
    font-weight: 800;
    color: #333;
}

.firstRowTabActive {
    background-color: #9ECDE6;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 15.5%;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.widgetTitle {
    font-weight: bold;
    font-size: 16px;
}

.widgetValue {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.secondRowHeadings {
    background-color: #9ECDE6;
    text-align: center;
    border-radius: 20px 20px 0 0;
    padding: 10px 0;
    color: #fff;
    font-size: 20px;
}

.secondRowBody {
    border: 1px solid grey;
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-size: 20px;
    padding: 20px 0;
}

.fee {
    width: 100%;
    margin-top: 20px;
}

.graphCard {
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #ccc;
    width: 100%;
}

.graphHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.graphTabs {
    display: flex;
    justify-content: space-between;
}

.graphName {
    background-color: rgba(158, 205, 230, 0.15);
    padding: 10px 20px;
    border-radius: 30px;
    outline: 2px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #303C43;
    text-align: center;
}

.graphNameActive {
    background-color: #9ECDE6;
    padding: 10px 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    text-align: center;
}

.graphFilter {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 20px;
    border: 1px solid #9ECDE6;
    border-radius: 30px;
}

.graphBody {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.rightCard {
    width: 20%;
    position: absolute;
    top: 0;
    right: 25px;
}

.rightCardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    margin: 10px;
    width: 20vw;
    min-height: 97vh;
    background-color: rgba(158, 205, 230, 0.15);
    position: fixed;
}

.notification {
    width: 35px;
    margin-left: 30px;
    margin-right: 20px;
}

.mobileWelcome {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    padding: 10px 0;
    border: 1px solid;
    border-radius: 10px;
}

.mobileUpcoming {
    margin-top: 20px;
    text-align: center;
    font-size: 21px;
    font-weight: 600;
}

.teacherCardIcons {
    margin-right: 20px;
}

/* Media Queries */
@media screen and (min-width: 992px) {
    .mainSection {
        padding: 2em 4rem;
        padding-left: 230px;
        width: 80%;
    }

    .fee {
        width: 32%;
        margin-top: 0px;
    }
}

@media screen and (max-width: 992px) {

    .graphName,
    .graphNameActive {
        font-size: 15px;
        padding: 0px 0px;
        border-radius: 20px;
        width: 30%;
    }
}